<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="row">    
                <br>
                <div class="col-md-2 col-sm-3 text-center">
                  <a class="story-title" href="#"><img alt="" src="<%= bynow.img %>" style="width:100px;height:100px" class="img-circle"></a>
                </div>
                <div class="col-md-10 col-sm-9">
                  <h3><%= bynow.name %></h3>
                  
                  <div class="row">
                    <div class="col-xs-9">
                      <h4><span class="label label-default"><%= bynow.description %></span></h4><h4>
                          <h4><%= bynow.price %> </h4>
                          <h4><%= bynow.review %> </h4>
                    
                      </h4></div>
                    <div class="col-xs-3"></div>
                  </div>
                  <br><br>
                </div>
              </div> 
    
</body>
</html>